[run]
omit = 
        ./sksurgeryfredmatplotlib/_version.py
        ./sksurgeryfredmatplotlib/__init__.py
	./sksurgeryfredmatplotlib/algorithms/__init__.py
	./sksurgeryfredmatplotlib/logging/__init__.py
	./sksurgeryfredmatplotlib/plotting/__init__.py
	./sksurgeryfredmatplotlib/widgets/__init__.py
	./sksurgeryfredmatplotlib/ui/__init__.py
        ./sksurgeryfredmatplotlib/__main__.py
        ./sksurgeryfredmatplotlib/ui/*
